/*#region ----------------- Tabs */
.nav-tabs {
  border-bottom: 1px solid $borderColor;
  .nav-link {
    padding: 0.6rem 1.2rem;
    font-size: 14px;
    font-weight: 600;
    color: $textGrey;
    position: relative;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid transparent;
    &.active {
      border-color: $borderColor;
      background-color: rgba($color: $primary, $alpha: 0.12);
      color: $textDark;
      border-bottom-color: $primary;
    }
    &:hover {
      color: $textDark;
    }
  }
}

.tab-content {
  margin-top: 2rem;
  &.type-border {
    border: 1px solid $borderColor;
    border-top: 0;
    padding-top: 2rem;
    margin-top: 0;
  }
  .tab-inner {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .nav-tabs {
    .nav-link {
      height: auto;
      flex-grow: 1;
      padding: 0.7rem;
      font-size: 14px;
      .icon {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 640px) {
  .nav-tabs {
    .nav-link {
      padding: 0.7rem 0.5rem 0.5rem 0.7rem;
      font-size: 13px;
      .icon {
        margin-bottom: 8px;
        font-size: 16px;
      }
    }
  }
}
/*#endregion -------------- Tabs */
